* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin-bottom: 50px;
}

.each-movies {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 53px;
    margin: 30px auto;
    border-bottom: 2px solid #E5E7EB;
    padding-bottom: 50px;
}

.movieBanner {
    width: 256px;
    height: 316px;
}

.movie-NameBox {
    display: flex;
    align-items: center;
}

.movie-NameBox > h2 {
    font-family: 'Inter',sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}

.ratingImage {
    margin-left: 25px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.movie-NameBox > p {
    font-family: 'Inter',sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}



.movie-property {
    display: flex;
    gap: 230px;
    color: #111827;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-top: 30px;
}

.remove-Btn, .add-Btn {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #111827;
    font-family: 'Inter',sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    border: none;
    background-color: transparent;
}

.movie-summery {
    color: #6B7280;
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    margin-top: 15px;
}



.eachMovie-rightSegment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    /* border: 1px solid black; */
}





@media (max-width: 2000px) {


.each-movies {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 53px;
    margin: 30px auto;
    border-bottom: 2px solid #E5E7EB;
    padding-bottom: 50px;
}

.movieBanner {
    width: 256px;
    height: 316px;
}

.movie-NameBox {
    display: flex;
    align-items: center;
}

.movie-NameBox > h2 {
    font-family: 'Inter',sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}

.ratingImage {
    margin-left: 25px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.movie-NameBox > p {
    font-family: 'Inter',sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}



.movie-property {
    display: flex;
    gap: 230px;
    color: #111827;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-top: 10px;
}

.remove-Btn, .add-Btn {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #111827;
    font-family: 'Inter',sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    border: none;
    background-color: transparent;
}

.movie-summery {
    color: #6B7280;
    font-family: 'Inter',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px; /* 142.857% */
    margin-top: 15px;
}



.eachMovie-rightSegment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    /* border: 1px solid black; */
}

}



@media (max-width: 1400px) {
    .each-movies {
        width: 90%;
        height: 200px;
        display: flex;
        gap: 30px;
        border-bottom: 2px solid #E5E7EB;
        padding-bottom: 30px;
    }
    
    .movieBanner {
        width: 100%;
        height: 100%;
    }

    .movieBanner-box {
        width: 20%;
    }
    
    .eachMovie-rightSegment {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 20%; */
        /* border: 1px solid black; */
    }
    
    .movie-NameBox {
        display: flex;
        align-items: center;
    }
    
    .movie-NameBox > h2 {
        font-size: 25px;
    }
    
    .ratingImage {
        margin-left: 100px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
    
    .movie-NameBox > p {
        font-size: 15px;
    }
    
    
    
    .movie-property {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 20px; /* 166.667% */
        margin-top: 30px;
    }

    
    .remove-Btn {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 15px;
    }
    
    .movie-summery {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .movie-summery > span {
       display: inline;
       margin-top: 20px;
    }
    
 



}


@media (max-width: 1000px) {
    .each-movies {
        height: 180px;
        gap: 15px;
        align-items: center;
        padding-bottom: 0px;
    }
    
    .movieBanner {
        width: 100%;
        height: 130px;
    }

    .movieBanner-box {
        width: 40%;
    }
    
    .eachMovie-rightSegment {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px
        /* border: 1px solid black; */
    }
    
    .movie-NameBox {
        display: flex;
        align-items: center;
    }
    
    .movie-NameBox > h2 {
        font-size: 15px;
    }
    
    .ratingImage {
        margin-left: 10px;
        margin-right: 5px;
        width: 9px;
        height: 9px;
    }
    
    .movie-NameBox > p {
        font-size: 13px;
    }
    
    
    
    .movie-property {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 0px;
        font-size: 9px;
        line-height: 10px; /* 166.667% */
        margin-top: 0px;
    }
    
    .remove-Btn, .add-Btn {
        display: flex;
        align-items: center;
        gap: 3px;
        line-height: 15px;
        font-size: 10px;
    }

    /* .movie-minutes {
        border: 1px solid red;
    } */

    .removeBtn, .addBtn {
        width:  8px;
        height: 8px;
    }
    
    .movie-summery {
        font-size: 10px;
        line-height: 15px;
    }
    
    .movie-summery > span {
       display: inline;
       margin-top: 0px;
    }
    
 



}

@media (max-width: 300px) {
    .each-movies {
        height: 300px;
        gap: 15px;
        justify-content: space-around;
        padding-bottom: 0px;
        flex-direction: column;
        width: 95%;
    }


}